body {
    font-family: "Rubik", sans-serif;
    background-color: #b4d5dc;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}
.p, .h2 {
    text-align: center;
}
/*Header*/
.Logo {
    font-family: "Birthstone", cursive;
    font-size: 50px;
    margin: 0 30px 0 30px;
}

.Header_options{
    margin-right: 10px;
}

.icons img {
    width: 25px;
    margin: 5px;
}
@media (max-width:1366px) {
    html {
        width: 1383px;
        height: 3490px;
        margin-left: -8px;
    }
    
}
@media (min-width: 1366px){

    :root {
        --HR-H:725px;
    }

    /*carousel*/
    .carousel_1, .banner {
    position: relative;
    background-image: url('/Multimedia/IMG/Room.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 690px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    }

    /* Dark layer on the background */
    .carousel_1::before, .banner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    }

    .img_articulos{
        height: var(--HR-H);
        width: 580px;
    }

    .Continer_Recomendations{
        background-color: #b4d5dc;
        margin-top: 40px;
    }

    .Recomendations{
        display: flex;
        justify-content: center;
        height: 370px;
        margin: auto;
        margin: 70px 10px 400px 10px;
    }

    .Text_Recomendations {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        background-color: #ffffff;
        height: var(--HR-H);
        width: 500px;
        padding: 0 40px 0 40px;
    }

    /*Banner*/

    .banner {
        background-image: url('/Multimedia/IMG/hall.jpg');
    }

    footer {
        background-color: #ffffff;
    }
    footer p {
        margin-top: 0px;
    }

    .footer_Information {
        display: flex;
        padding-top: 100px;
        align-items: center;
        padding-bottom: 50px;
    }
    .p_button {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .sub_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .social_networks {
        display: flex;
        align-items: center;
    }
    .social_networks p {
        margin-top: 12px;
    }
}